.calendars {

	font-family: inherit;
}
.DateConverterBox{
	position: relative;
}
.DrowDatePicker {
	padding: 0;
	border: 0;
}
.DateConverterBox .ConvertIcon {
	position: absolute;
	top: 0px;
}
.ConvertIcon i{
	margin: 0;
	border-radius: 0;
    line-height: 40px;
	height:100%
}
.rtlDesign .DateConverterBox .ConvertIcon {
	left: 0;
    height: 44px!important;
}
.ltrDesign .DateConverterBox .ConvertIcon {
	right: 0;
	height: 44px!important;
}
.rtlDesign .DateConverterBox input {
	/*text-align: right !important;*/
	padding: 0 10px 0 43px;
}
.ltrDesign .DateConverterBox input {
	/*text-align: right !important;*/
	padding: 0 43px 0 10px;
	/*text-align: left !important;*/
}
.calendars-month td .calendars-today {
	background-color: #444;
	color: #fff;
}
.DateConverterBox input {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    text-align: center;
    border: 0;
    background: #f7f7f7;
}
.HiddenDiv{
	/*display:none;*/
}
.DateConverterBox{
	position:relative;
}
.calendars-popup {
	top: 40px !important;
	width: 300px;
}
.rtlDesign .calendars-popup {
	direction: rtl;
	
	left: 0% !important;
	
}
.ltrDesign .calendars-popup {
	direction: ltr;
	left: unset !important;
	right:0 !important;
}
.CustomCalenderClass{
		width:100% !important;
}
.calendars-month {
    width: 100% !important;
}
.calendars-month td span {
	
}
.HijriDate,.GregorianDate{
	position:relative;

}
.calendars-ctrl{
		background-color:#447662 !important;
}
.calendars {
    border: 0 !important;
}
.calendars-ctrl, .calendars-nav {
    background-color: #4d7867 !important;
}
.calendars-nav{
	display:none;
}

.calendars-month th {
	font-size: 10pt;
	padding: 6px 0 !important;
	background: #009688 !important;
}
a.calendars-cmd.calendars-cmd-close{
	
}
.calendars-cmd-clear{
	display:none;
}
a.calendars-cmd.calendars-cmd-close {
    
    width: 100%;
    text-align: center;
    padding: 3px;
    height: 25px;
}
.calendars-ctrl .calendars-cmd:hover {
    background-color: #4d4d4d !important;
}
.calendars-highlight{
	background-color: #4d4d4d !important;
	color:#fff !important;
}
.calendars-month-header select:first-child{
	width:200px;
	
}
.calendars-month-header{
    height: 28px !important;
    
}
.calendars-month-header select{
	height: 26px !important;
}
.calendars-month {
    border: 0px solid #444 !important;
 
}
.calendars-ctrl{
	display:none;
}
.calendars-month a, .calendars-month td .calendars-weekend, .calendars-month td .calendars-other-month {
	height: 35px;
	line-height: 35px;
}
.calendars-month td {
	width: 10%;
}
.calendars-month-header, .calendars-month-header input, .calendars-month-header select {
	font-weight: normal;
}
.calendars-month th {
	border: 0;
}
.calendars-month thead {
	border-bottom: 0;
}
.calendars-month td {
	background-color: #eee;
	border: 1px solid #fff;
}